# Thermoversuch: Datenexport nach Excel

In [1]:
import os
import pathlib
import sys
import warnings
warnings.filterwarnings('ignore')
__cwd__ = str(pathlib.Path(os.getcwd())).replace('\\', '/')
sys.path.append(__cwd__)
print(__cwd__)

%load_ext autoreload
%autoreload 2

D:/Python/XLH/source/xLH_base/thermoversuch/berechnungen

In [2]:
import xlwings as xw
import pandas as pd
import matplotlib.pyplot as plt  # https://matplotlib.org/stable/gallery/
plt.rcParams['font.size'] = 6
dpi = 600
%matplotlib inline

In [3]:
# laden der Rohdaten aus dem Notebook 1
df = pd.read_pickle('daten/messung_1.pkl')
print(df.shape)
df.head(5)

(3601, 10)

,t [s],relais,U [V],I [A],Pel [W],Eel [J],T1 [°C],T2 [°C],T3 [°C],Tmw [°C]
0,0.000000,1.0,237.500000,0.0,0.1,0.000000,20.5,20.6,20.9,20.666666
1,1.000001,1.0,237.500000,0.0,0.0,0.021999,20.5,20.6,20.9,20.666666
2,2.020002,1.0,237.500000,0.0,0.0,0.021999,20.5,20.6,20.9,20.666666
3,3.040018,1.0,237.399994,0.0,0.0,0.021999,20.5,20.6,20.9,20.666666
4,4.060000,1.0,237.399994,0.0,0.0,0.021999,20.5,20.6,20.9,20.666666

In [4]:
# Export der Rohdaten in Excel => (https://docs.xlwings.org/en/stable/connect_to_workbook.html)
# wb = xw.Book('daten/excel.xlsx')
wb = xw.Book('daten/excel.xlsx')
sheet = wb.sheets('Tabelle1')
sheet.range('A1:M4000').clear_contents()
sheet.range('A1').value = 'Thermoversuch: Export der Rohdaten'
sheet['A3'].value = df

In [93]:
# END